.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1C1C1C;
  background-image: url('/hero-image.svg');
  background-repeat: no-repeat;
  background-position-y: calc(100% - 12px);
  background-size: contain;
}

.hero > div {
  margin-top: 64px;
}

.hero > div > a:first-child {
  margin-right: 64px;
}

.title {
  background: linear-gradient(180deg, #7574D2 0%, #E2E2FC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 165px;
  margin-bottom: 40px;
}

.body {
  text-align: center;
}

.dark {
  color: #D2D2D2;
  letter-spacing: 0.02em;
}

.subtitle {
  margin-bottom: 24px;
  margin-top: 150px;
  background: linear-gradient(90deg, #333333 0%, #B37B5D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.grid {
  margin-top: 64px;
  margin-bottom: 144px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 144px;
  row-gap: 96px;
}